html {
    background: white;
    color: white;
    display: block;
    font-family: 'Bebas Neue';
    margin-left: 0px;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
}

body {
    margin-left: 0px;
    padding: 0px;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 * Modified Dec. 2022 by Ryan Smith
 */
#menuToggle {
    display: block;
    position: relative;
    top: 4vw;
    left: 4vw;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: white;
}


#menuToggle input {
    display: block;
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: -0.5vw;
    left: -0.3vw;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 2.3vw;
    height: 0.3vw;
    margin-bottom: 0.4vw;
    position: relative;
    background: white;
    border-radius: 0.25vw;
    z-index: 1;
    transform-origin: 0.3vw 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-0.2vw, 0vw);
  background: gray;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Oh yeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -0.2vw);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 20vw;
    margin: -9vw 0 0 -4.5vw;
    padding: 4.5vw;
    padding-top: 6.5vw;
    background: gray;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu li {
    padding: 0.8vw 0;
    font-size: 2vw;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;
}

.headshot {
    display: inline-block;
    width: 40vw;
    height: auto;
    position: relative;
    border-style: solid;
    border-width: 0.3vw;
    margin-top: -2.7vw;
    border-image-source: linear-gradient(to bottom, #e66465, #9198e5);
    border-image-slice: 60 30;
    z-index: 1;
}

.intro {
    font-size: 4vw;
    display: block;
    padding: 0;
    margin: 0;
}

.resume {
    font-size: 3vw;
    margin-top: -4vw;
}

.contact {
    font-size: 3vw;
    margin-top: -4vw;
}

.home {
    font-size: 3vw;
}

.about {
    font-size: 2vw;
    margin-top: -3.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.title--about {
    font-size: 4vw;
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title--resume {
    font-size: 4vw;
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title--contact {
    font-size: 4vw;
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:link {
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:visited {
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro {
    display: inline-block;
    font-size: 5vw;
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle--intro {
    font-size: 3vw;
    margin-top: -0.7vw;
    color: white;
    display: block;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.title--projects {
    font-size: 4vw;
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects {
    display: block;
    font-size: 2vw;
    margin-top: -3.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.scannAR {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    height: auto;
    z-index: 1;
}

.wordle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    height: auto;
    z-index: 1;
}

.bigger-text {
    font-size: 2.5vw;
}
